doctype html
include includes/include.pug

html(lang='en')
    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title #{title}

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/3d_emblem_lockup.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
        link(href="https://fonts.cdnfonts.com/css/katahdin-round" rel="stylesheet")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Annie Use Your Telescope")
                
        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')
  

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand #{date} 
                a.navbar-brand1
                    a(href=`${schedule_link}`)
                        i.fas.fa-calendar

                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#sponsors') Sponsors
                        li.nav-item
                            a.nav-link(href='#tracks') Tracks
                        li.nav-item
                            a.nav-link(href='#speakers') Speakers
                        li.nav-item
                            a.nav-link(href='#faq') FAQ

                a(href='https://github.com/opengeospatial/dev-ogc-org-sprint-landing-23')
                    img(style='position: absolute; top: 0; right: 0; border: 0;' src='https://github.blog/wp-content/uploads/2008/12/forkme_right_darkblue_121621.png' alt='Fork me on GitHub')

        // Masthead
        header.masthead
            .container
                .row
                    .col-sm-8
                        //- .masthead-heading.text-uppercase #{title}
                        .masthead-heading #{title}
                        
                        .masthead-subheading 
                            | #{tagline}
                        
                        a.btn.btn-primary.btn-xl.text-uppercase(href='#about') Tell Me More
                        a.btn.btn-primary.btn-xl.text-uppercase.disabled(href=`${registration_link}`) Register
                    .col-sm-4
                        img(src='assets/img/bird-cage-small.jpeg', alt='...')

        // About
        section#about.page-section
            .container
                .my-div
                    .text-center
                        h2.section-heading.text-uppercase About
                    .text-left
                            p.text-muted #{about}
                            p.text-muted You can find more details about the code sprint on the event's
                                a(href=`${wiki_link}`) wiki page 
                                |. Want to learn more about OGC standards? Checkout the
                                a(href="https://developer.ogc.org/") developer website
                                |.  
                    p.text-muted Organised by:
                    .row.text-center
                            .col-md-4
                                a(href='https://www.ogc.org/')
                                    img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/ogc.svg', alt='...')
                            .col-md-4
                                a(href='https://www.osgeo.org/')
                                    img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/logo-osgeo.svg', alt='...')
                            .col-md-4
                                a(href='https://www.apache.org/')
                                    img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/Apache_Software_Foundation_Logo_(2016).svg', alt='...')
                    p.text-muted Hosted by:
                    .row.justify-content-md-center
                            .col-md-4
                                a(href='https://www.uevora.pt/en')
                                    img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/uevora2.png', alt='...')
                            .col-md-4
                                a(href='https://www.naturalgis.pt/')
                                    img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/naturalgis.png', alt='...')
                            .col-md-4
                                a(href='http://www.geobeyond.it/')
                                    img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/geobeyond.svg', alt='...')

        section#sponsors.page-section
            .container-fluid
                .text-center
                    h2.section-heading.text-uppercase Sponsors


                    //- div.py-5
                    //-     .container
                    //-         .row.text-center
                    //-             .col
                    //-                 a(href='https://www.ordnancesurvey.co.uk/')
                    //-                     img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/os.svg', alt='...')
                    //-                 | Gold-level sponsor

                    //- p.text-muted
                    //-     | Catering sponsored by
                    //-     a(href='https://heig-vd.ch/en/about-us') HEIG-VD (School of Engineering and Management)
                    //-     | ,
                    //-     a(href='https://www.epfl.ch/en/') EPFL
                    //-     | ,
                    //-     a(href='https://www.unil.ch/central/en/home.html') University of Lausanne
                    //-     | ,
                    //-     a(href='https://www.ne.ch/Pages/accueil.aspxl') State of Neuchâtel
                    //-     | ,
                    //-     a(href='https://www.vd.ch/') State of Vaud
                    //-     | and
                    //-     a(href='https://www.camptocamp.com/en') Camptocamp
                    //-     | .

                    p.text-muted
                        | If you are interested in sponsoring the Code Sprint, please check our 
                        a(href='https://developer.ogc.org/sprints/sponsoring/') sponsoring packages.



        // Tracks
        section#tracks.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Tracks
                    //- h3.section-subheading.text-muted This sprint will run two parallel tracks
                .row.text-center
                    .col
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-laptop.fa-stack-1x.fa-inverse
                        h4.my-3 Main Track
                        .tracks-body.text-muted                             
                            p On the main track, developers have the opportunity to contribute to the development of the standards, either by working on implementations of the standards or on the actual standards.
                            p They will be working at their own pace, developing code or in other related activities such as testing, compliance, submitting issues or documentation.
                            p Discussion is encouraged on 
                                i.fab.fa-discord
                                | discord, at the 
                                a(href="https://discord.gg/3uyaZZuXr3") #General 
                                | channel (text), or at the 
                                a(href="https://discord.gg/kZADQ9VNEN") #Breakout Room
                                | (voice) and we will meet at given checkpoints during the day, at the 
                                a(href="https://discord.gg/3pezeR98Ks") #Main Stage
                                | . 
                            p At the end of the code sprint, everyone one will have the chance to demonstrate what they have been working on, during the demo session.
                    .col
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-graduation-cap.fa-stack-1x.fa-inverse
                        h4.my-3 Mentor Stream
                        .tracks-body.text-muted
                            p We acknowledge that not everyone may be familiar or feel comfortable to contribute to the standards yet, so we have curated a parallel track for newcomers.
                            p On the mentor stream, developers will have the opportunity to learn more about the standards, and give their first steps in using them. The stream will include community led tutorials which will take place on 
                                i.fab.fa-discord
                                | discord, at the 
                                a(href="https://discord.gg/sCd59VufXS") #Mentor Room
                                | channel (voice) and access to mentoring from staff and community members on the 
                                a(href="https://discord.gg/WGy3XCt5QB") #find-a-mentor 
                                | and 
                                a(href="https://discord.gg/wZvJHB2Es5") #mentor-room 
                                | (text) channels. 
                            P You can view 
                                a(href="https://github.com/opengeospatial/developer-events/wiki/November-2021-Geospatial-API-Code-Sprint#mentor-streams") here
                                | an example of a mentor stream, from a previous code sprint.
                            p If you don’t know where to start, you probably should check-out the Mentor Stream!
        section#speakers.page-section.bg-dark

            .container
                .text-center.text-white
                    h2.section-heading.text-uppercase Speakers

                    #carouselExampleControls.carousel.slide(data-bs-ride='carousel')
                        .carousel-indicators
                            button.active(type='button' data-bs-target='#carouselExampleControls' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                            button(type='button' data-bs-target='#carouselExampleControls' data-bs-slide-to='1' aria-label='Slide 2')
                            button(type='button' data-bs-target='#carouselExampleControls' data-bs-slide-to='2' aria-label='Slide 3')
                            button(type='button' data-bs-target='#carouselExampleControls' data-bs-slide-to='3' aria-label='Slide 4')
                            button(type='button' data-bs-target='#carouselExampleControls' data-bs-slide-to='4' aria-label='Slide 5')

                        .carousel-inner
                            .carousel-item.active
                                img.rounded-circle(src=speakers[0].src alt=speakers[0].alt height='200' )
                                .carousel-caption.d-none.d-md-block
                                    h3 #{speakers[0].h3}
                                    p #{speakers[0].p}

                            - for (var i = 1; i < speakers.length; ++i) {
                                .carousel-item
                                    img.rounded-circle(src=speakers[i].src alt=speakers[i].alt height='200' )
                                    .carousel-caption.d-none.d-md-block
                                        h3 #{speakers[i].h3}
                                        p #{speakers[i].p} 
                            - }

                        button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                        button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next


        section#faq.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase FAQ
                    .container
                        .row.row-cols-2
                            .col
                                h2 General
                                #accordion.accordion
                                    .accordion-item
                                        h2#one.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-one' aria-expanded='false' aria-controls='collapse-one')
                                                | What is a code sprint?
                                        #collapse-one.accordion-collapse.collapse(aria-labelledby='one' data-bs-parent='#accordion')
                                            .accordion-body
                                                p A Code Sprint is a three day virtual or hybrid event, where dozens of developers from around the world come together to code and share their ideas regarding sharing geospatial information. This code sprint will be hybrid.
                                    .accordion-item
                                        h2#two.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-two' aria-expanded='false' aria-controls='collapse-two')
                                                | When is the code sprint?
                                        #collapse-two.accordion-collapse.collapse(aria-labelledby='two' data-bs-parent='#accordion')
                                            .accordion-body
                                                p The code sprint will be a 3 day event on #{date}.
                                    .accordion-item
                                        h2#two.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-two' aria-expanded='false' aria-controls='collapse-two')
                                                | Where is the code sprint?
                                        #collapse-two.accordion-collapse.collapse(aria-labelledby='two' data-bs-parent='#accordion')
                                            .accordion-body
                                                p This code sprint will take place at 
                                                    a(href=`${location_link}`) #{location}
                                                    | and at the OGC events discord server.
                                    .accordion-item
                                        h2#three.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-three' aria-expanded='false' aria-controls='collapse-three')
                                                | What is the cost?
                                        #collapse-three.accordion-collapse.collapse(aria-labelledby='three' data-bs-parent='#accordion')
                                            .accordion-body
                                                p Admission is free and includes mentors, workshops, $wag, resources, and a memorable experience!
                                    .accordion-item
                                        h2#four.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-four' aria-expanded='false' aria-controls='collapse-four')
                                                | Where is the schedule?
                                        #collapse-four.accordion-collapse.collapse(aria-labelledby='four' data-bs-parent='#accordion')
                                            .accordion-body
                                                p You can find the updated schedule on 
                                                    a(href=`${schedule_link}`) this
                                                    | link.
                                    .accordion-item
                                        h2#five.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-five' aria-expanded='false' aria-controls='collapse-five')
                                                | But I don't know anything about standards nor I am an expert on geospatial!
                                        #collapse-five.accordion-collapse.collapse(aria-labelledby='five' data-bs-parent='#accordion')
                                            .accordion-body
                                                p If you are a web developer, working or interested in working with location data this sprint 
                                                    i is also for you. 
                                                | You can take it as a starting point on a journey to use geospatial data in a more efficient manner. 
                                                | Do not worry about the things you don't know yet - just bring your enthusiasm and your backend or frontend skills, and we will bring the rest!
                                    .accordion-item
                                        h2#six.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-six' aria-expanded='false' aria-controls='collapse-six')
                                                | I have more questions!
                                        #collapse-six.accordion-collapse.collapse(aria-labelledby='six' data-bs-parent='#accordion')
                                            .accordion-body
                                                p Please email us at 
                                                    a(href='mailto:devrel@ogc.org')
                                                        i.fa.fa-envelope
                                                    | if you have any questions or concerns!

                            .col
                                h2 Tracks
                                #accordion1.accordion
                                        .accordion-item
                                            h2#seven.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-seven' aria-expanded='false' aria-controls='collapse-seven')
                                                    | What are the sprint tracks?
                                            #collapse-seven.accordion-collapse.collapse(aria-labelledby='seven' data-bs-parent='#accordion1')
                                                .accordion-body
                                                    p The sprint includes two parallel tracks: the 
                                                        i main track 
                                                        | and the 
                                                        i mentor stream
                                                        | . 
                                                    | On the main track, developers have the opportunity to contribute to the development of the standards, either by working on implementations of the standard or on the standard itself.
                                                    | They will be working at their own pace, developing code or in other related activities such as testing, compliance, submitting issues or documentation. On the mentor stream, they will have the opportunity to learn more about the standards, and give their first steps in using them. The stream will include community led tutorials and access to mentoring.
                                        .accordion-item
                                            h2#eight.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-eight' aria-expanded='false' aria-controls='collapse-eight')
                                                    | How can I find a mentor?
                                            #collapse-eight.accordion-collapse.collapse(aria-labelledby='eight' data-bs-parent='#accordion1')
                                                .accordion-body
                                                    p Once the sprint starts, you can find a mentor in the 
                                                        a(href="https://discord.gg/WGy3XCt5QB") #find-a-mentor 
                                                        | channel, on the OGC-events discord server. 

                            .col
                                h2 Logistics
                                #accordion2.accordion
                                        .accordion-item
                                            h2#nine.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-nine' aria-expanded='false' aria-controls='collapse-nine')
                                                    | How does an hybrid code sprint work?
                                            #collapse-nine.accordion-collapse.collapse(aria-labelledby='nine' data-bs-parent='#accordion2')
                                                .accordion-body
                                                    p An hybrid code sprint takes place on a physical location. In this case, it will be in
                                                        a(href=`${location_link}`) #{location}.
                                                    p In addition, participants will be able to join online. This means that anyone in the world can join, provided they can follow the local timetable. 
                                                        | The online part of the code sprint runs on the 
                                                        i.fab.fa-discord  
                                                        | discord plattform, which provides both text and video/audio channels.
                                                    p During the code sprint, we will meet at given times, according to the 
                                                        a(href=`${schedule_link}`) schedule 
                                                        | and stream those meetings through discord.
                                                    p You can read more about the logistics and other details of the code sprint, on the
                                                        a(href=`${wiki_link}`) wiki page
                                                        | .
                                        //- .accordion-item
                                        //-     h2#nine-1.accordion-header
                                        //-         button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-nine-1' aria-expanded='false' aria-controls='collapse-nine-1')
                                        //-             | Do you have any advice regarding accomodation during the code sprint?
                                        //-     #collapse-nine-1.accordion-collapse.collapse(aria-labelledby='nine-1' data-bs-parent='#accordion2')
                                        //-         .accordion-body
                                        //-             p You can find
                                        //-                 a(href='https://github.com/opengeospatial/dev-ogc-org-sprint-landing-20/files/10991433/HotelsLausanne.pdf') here 
                                        //-                 | a list of nearby hotels. 
                                        .accordion-item
                                            h2#nine-1.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-nine-1' aria-expanded='false' aria-controls='collapse-nine-1')
                                                    | I think I won't be able to attend all the sessions. Will you record them?
                                            #collapse-nine-1.accordion-collapse.collapse(aria-labelledby='nine-1' data-bs-parent='#accordion2')
                                                .accordion-body
                                                    p There will be audio and video recordings of some sessions, which will be available for registered participants. 
                                        .accordion-item
                                            h2#nine-2.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-nine-2' aria-expanded='false' aria-controls='collapse-nine-1')
                                                    | Do I need to be at the code sprint 100% of the time?
                                            #collapse-nine-2.accordion-collapse.collapse(aria-labelledby='nine-2' data-bs-parent='#accordion2')
                                                .accordion-body
                                                    p We are empathetic towards the fact that people's schedules may not allow them to be at the code sprint 100% of the time, during the 3 days of the event.
                                                    | Just bear in mind, that in the case of sponsored code sprints you may need to demonstrate a minimum attendance, if you apply for funding.
                                                    | If the code sprint is not sponsored or you do not require funding, your attendance rate is completely up to you.                                                                             

                            .col
                                h2 Registration
                                #accordion3.accordion
                                        .accordion-item
                                            h2#ten.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-ten' aria-expanded='false' aria-controls='collapse-ten')
                                                    | Can I attend?
                                            #collapse-ten.accordion-collapse.collapse(aria-labelledby='ten' data-bs-parent='#accordion3')
                                                .accordion-body
                                                    p Everyone is free to attend this code sprint.
                                        .accordion-item
                                            h2#eleven.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-eleven' aria-expanded='false' aria-controls='collapse-eleven')
                                                    | When is registration?
                                            #collapse-eleven.accordion-collapse.collapse(aria-labelledby='eleven' data-bs-parent='#accordion3')
                                                .accordion-body
                                                    p Registration is open and closes on #{deadline}. Follow this
                                                        a(href=`${registration_link}`) link
                                                        | to register!
                                        .accordion-item
                                            h2#eleven-1.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-eleven-1' aria-expanded='false' aria-controls='collapse-eleven')
                                                    | Can I apply for funding?
                                            #collapse-eleven-1.accordion-collapse.collapse(aria-labelledby='eleven-1' data-bs-parent='#accordion3')
                                                .accordion-body
                                                    p At this stage, we cannot guarantee that there will be funding available for this code sprint. 
                                                    | However we recommend that participants interested in receiving travel support funding indicate their interest on the registration form. 
                                                    //- | Participants looking to receive funding will have to submit their registration forms by August 14, 2022 and will be notified within 2 weeks of their application whether their application for travel support is approved or not.
 
        // Contact
        section#contact.page-section
             .container
                .text-center
                    h2.section-heading.text-uppercase Sprint starts in
                .row.text-center

                    .mt-module.col-6.col-md-6.col-sm-12.col-xs-12.countdown_timer
                    .mt-element(data-element-type='countdown_timer' data-date=`${start_date}`)
                        .fcountdown-timer 256 days 23:59:59
                        
        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; 2023. Open Geospatial Consortium all rights reserved
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='https://twitter.com/opengeospatial/')
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.youtube.com/user/ogcvideo')
                            i.fab.fa-youtube
                        //- a.btn.btn-dark.btn-social.mx-2(href='#!')
                        //-     i.fab.fa-telegram-plane
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.linkedin.com/company/open-geospatial-consortium')
                            i.fab.fa-linkedin-in
                    .col-lg-4.text-lg-end
                        a.link-dark.text-decoration-none.me-3(data-bs-toggle='modal', data-bs-target='#exampleModal') Privacy Policy


                        // Modal
                        #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        h5#exampleModalLabel.modal-title Privacy Policy
                                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                    .modal-body
                                        | OGC Code Sprints do not log or share your personal information.
                                        | We don't track you. We don't profile you. Period
                                    .modal-footer
                                        button.btn.btn-primary(type='button' data-bs-dismiss='modal') Close

        // Bootstrap core JS
  
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')


        // Core theme JS
        script(src='js/scripts.js')

        script(src='js/jquery.js' type='text/javascript')
        script(src='js/jquery.countdown.min.js' type='text/javascript')
        script(src='vendor/fontawesome-free/js/all.js' type='text/javascript')
        script.
            $("[data-element-type='countdown_timer'] .fcountdown-timer").countdown(
            $("[data-element-type='countdown_timer']").data('date'),
            function(event) {
            $(this).text(event.strftime("%D days %H:%M:%S"));
            });

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
